* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html, body {
  font-family: Red Hat Display
}

.simulador-box {
  display:flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 6px 16px;
  width: 496px;
  height: 53px;
  border: 1px solid #00369C;
  border-radius: 8px;
  opacity: 1;
}

.container-info {
  line-height: 110%;
  width: 400px;
  height: 36px;
  padding: 0px;
}

#logosimbolo-siste {
  width: 48px;
  height: 47px;
  margin: 2px 12px 0 0;
}

#logotipo-siste {
  height: 10px;
}

.plain-text {
  font-size: 14px;
}

#cuotas {
  font-size: 14px;
}

#valor-cuota {
  font-size: 14px;
}

#link {
  font-size: 14px;
}

@media (max-width: 375px) {
  .simulador-box {
    width: 277px;
    height: 48px;
  }

  .container-info {
    line-height: 70%;
    width: 215px;
    height: 40px;
  }

  #logosimbolo-siste {
    width: 40px;
    height: 39px;
    margin: 2px 8px 0 0;
  }

  #logotipo-siste {
    height: 7px;
  }

  .plain-text {
    font-size: 10px;
  }

  #link {
    font-size: 10px;
  }

  #cuotas {
    font-size: 10px;
  }

  #valor-cuota {
    font-size: 10px;
  }

}


